body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* background-image: url('assets/zigzag-background.jpg'); */
    background-size: cover;
    color: #333;
}
  
header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #666;
}   

h2 {
    color: #4a4a4a;
}

section {
    padding: 20px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
